html {
    height: 100%;
}

body {
    background-image:url(brownies2.png) ;
    height: 100%;
    overflow: hidden;
    display: block;
 
}

#balk {
    width: 100%;
    height: 15%;
    font-size: 36px;
}

#container {
   
    width: 100%;
    height: 100%;
    display: flex;
}


#menu {
   
    width: 20%;
    height: 100%
}

#bericht {
  
    width: 60%;
    height: 100%
}
#plaatje {

    width: 20%;
    height: 100%
}


}